/*
font-family: 'Raleway', sans-serif;
font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Questrial', sans-serif;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    background: white;
}

header {
    padding: 10px 100px;
    box-sizing: border-box;
    z-index: 1;
}

section {
    width: 100%;
    height: 100vh;
}

section.sec1 {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(icons8-team-yTwXpLO5HAA-unsplash.jpg);
    background-size: cover;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
}

section.sec2 {
    padding: 100px;
    box-sizing: border-box;
    height: auto;

}

section.sec2 h2 {
    font-size: 2em;
    margin: 0;
    padding: 0 0 20px;
    color: gray;
    text-align: center;

}

section.sec2 p {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    color: blueviolet;

}

section.sec3 {
    
    background-size: cover;
}

nav {
    width: 100%;
    height: 50px;
    background: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    z-index: 1000;

}

nav ul {
    display: flex;
    padding: 0 100px;
    margin: 0;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: blue;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

nav ul li a.active {
    background: lightgray;
    color: white;
}

nav ul li a:hover {
    background: gray;
    color: blueviolet;
}

section.sec2 button {
    border-radius: 10px;
    border-style: none;
    padding: 15px 30px;
    background-color: blueviolet;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    position: center;
    text-align: center;
}

section.sec2 button:hover {
    background-color: lightgray;
}

footer {
    
    z-index: 1;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    color:gray;
    text-transform: uppercase;
    font-size: 1em;
}

/*Popup login*/
/* this is the background */
.popup {
background:rgba(0, 0, 0, 0.6);
width: 100%;
height: 100%;
position: absolute;
top: 0;

display: none;
justify-content: center;
align-items: center;
z-index: 10000;
text-align:center;

}

/* another container */
.popup-content {
    height: 500px;
    width: 375px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    text-align: center;
    z-index: 10000;
    
}

/* this is the actual form */
.popup-content form {
    mix-blend-mode: normal;
    background-image: linear-gradient(lightblue, blueviolet);
    border-style: hidden;
    border-radius: 20px;
    text-align: center;
    z-index: 10001;
    opacity: 2;
    height: 500px;
    width: 375px;
    position: relative;
    justify-content: center;
    
    }
    

.close {
    position: absolute;
    top: -15px;
    right: -15px;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px;
    cursor: pointer;
    z-index: 10001;
}

    input[type = "text"] {
        
        padding: 10px 20px 10px 10px;
        font-size: 100%;
        background-color: transparent;
        border-bottom-color: white;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        color: white;
    
    }
    
    ::placeholder {
        color: white;
        text-align: left;
    }
    
    input[type = "submit"] {
        border-radius: 40px;
        border-style: none;
        padding: 15px 30px;
        background-color: white;
        font-family: 'Questrial', sans-serif;
    }
    
  
    
    #anotherContainer {
        text-align: center;
        
    }

    

    /* About Us */
    .about-top {
        background-size: cover;
        position: relative;
        z-index: 10;
        box-sizing: border-box;
    }

    .about-body {
        margin: 0;
        padding: 0;
        font-family: 'Questrial', sans-serif; 
        background-color: white;

    }

    .box {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 20px;
        box-sizing: border-box;
        background: lightcoral;
        border-radius: 4px;
        box-shadow: 0 5px 15px blue;
        align-items:center;
        justify-content: center;
 
        width: 400px;
        height: 250px;
    }

    .box > div {
        flex-basis: 50%;
    }

    .box:hover {
        box-shadow: 0 5px 30px blueviolet;
    }

    .box .imageBox {
        width: 150px;
        flex: 0 0 150px;
    }
   
    .box .content {
        padding-left: 20px;
    }

    .box .content h3 {
        margin: 0;
        padding-left: 0;
        color: blueviolet;
        font-size: 20px;
        top: 30%
        left: 50%;
        position: absolute;
    }

    .box .content p {
        margin: 0;
        padding: 10px 0 0;
        text-align: justify;
    }

    section.sec3 {
        text-align: center;
        background-size: 900px 600px;
        background-repeat: no-repeat;
    }
